 @import '/src/assets/sass/functions.scss';




 .login-wrap{
    // display: flex;
    // justify-content: center;
    // align-items: center;
     
    // background: radial-gradient(circle, rgba(42,98,156,0.8715861344537815) 0%, rgba(104,111,163,1) 100%);;
    
    .container{
     
        max-width: rem(700);
    
        .card{
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
        }
    
        .form-group{
    
            margin-bottom: rem(20);
    
    
        }
    }
    }