<div class="header-wrap">
    <div class="header">
        <ul class="nav">
            <li class="nav-item">
              <a  routerLink="" class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="" class="nav-link" href="#">My Account</a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <i class='fas fa-cart-arrow-down' style='font-size:20px'></i>
                <p class="cart-count">12</p>
              </li>
           <!-- <li><a>{{totalItem}}</a></li> -->
            <!-- <li class="nav-item"> 
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
    </div>
    <div class="logout-btn-wrap">
        <button class="logou">Logout</button>
    </div>
</div>