<app-header></app-header>

<p>dashboard works!</p>
<button (click)=" isLoggedOut()">Log out</button>

<button routerLink="products">go to products</button>


<button routerLink="details">go to details</button>

<h3 class="writings-1 writings" >Igonore this page naviagte to Products or Cart Page</h3>
<h2 class="writings">Supposed to be a dashboard or home page but the API in use does not have any useful information
    for this page
</h2>
<!-- <app-products></app-products>

<router-outlet></router-outlet> -->
<!-- <app-products></app-products> -->







